﻿@using Fr.EQL.AI110.DLD_GD.Entities

@model PostViewModel

<div class="publication">
<h1>Annonce</h1>
<article class="border">
<form method="post">
<select asp-for="Subscriber.Id">
       @foreach (Subscriber receivingSubscriber in Model.Subscribers)
        {
         <option value="@receivingSubscriber.Id">@receivingSubscriber.Login</option>
        }
 </select>
<br />
Titre : @Model.Post.Title
<br />
Description : @Model.Post.Description
<br />
Quantité : @Model.ProductLine.Quantity
@Model.Unit.UnitName
<br />
A consommer avant le : 
@Model.ProductLine.BestBeforeDate.ToString("dd/MM/yyyy")
<br />
<img src="~/images/upload/@Model.Post.Picture" width="200"/>
<br />
Ville : @Model.City.CityName
<br />
            @{
                if(@Model.PickupPoint != null)
                {
                 <span>Point de dépot : @Model.PickupPoint.PickupPointName</span>
                 <br />
                 <span>Adresse : @Model.PickupPoint.StreetNumber @Model.PickupPoint.StreetName @Model.City.ZipCode @Model.City.CityName</span>
                    
                }else
                {
                    <span>Remise en main propre</span>
                }
                <br />

                if(@Model.Post.ReservationDate == null)
                {
                 <input asp-action="bookpost" class="cute-button" type="submit" value="Réserver"/>
                }
            }

<input type="hidden" asp-for="@Model.Post.Id" />
</form>
</article>
</div>