﻿@using Fr.EQL.AI110.DLD_GD.Entities
@using WebApp.Models
@model PostSearchViewModel

@{
    ViewData["Title"] = "Annonces";
}

<form class="publication" method="post">
    <div>
        <label class="white-font">Titre : </label> <input asp-for="Title" placeholder="Titre"/>

         <label class="white-font">Catégorie : </label>
        <select asp-for="IdSearchedCategory">
            <option value="0">Tous</option>
            @foreach (Category cat in Model.Categories)
            {
                <option value="@cat.Id">@cat.CategoryName</option>
            }
        </select>

         <label class="white-font">Date : </label>
        <select asp-for="DateOrder">
            <option value = "AscendingPostDate"> Publication &#8599; </option>
            <option value = "DescendinPostDate"> Publication &#8600; </option>
            <option value = "AscendingBestBeforeDate"> Limite de consommation &#8599; </option>
            <option value = "DescendinBestBeforeDate"> Limite de consommation &#8600; </option>
        </select>
</div>
<div>
      <label class="white-font">Ville : </label>
        <select asp-for="@Model.IdSearchedCity">
            <option value="0">Tous</option>
            @foreach (City city in Model.Cities)
            {
                <option value="@city.Id">@city.ZipCode @city.CityName</option>
            }
        </select>

         <label class="white-font">Distance : </label>
        <select asp-for="Distance">
            <option value = DEFAULT_DISTANCE> - </option>
            @for (int i = 0; i <= 10 ; i++ )
            {
                <option value="@i">@i</option>
            }
        </select>

         <label class="white-font">Donateur : </label>
        <select asp-for="IdDonatingSubscriber">
            <option value = "0"> Tous </option>
            @foreach (Subscriber donatingSubscriber in Model.Subscribers)
            {
                <option value="@donatingSubscriber.Id">@donatingSubscriber.Login</option>
            }
        </select>

        <input class="cute-button" type="submit" value="Filtrer"/>
</div>
 </form>

<section>
    
    <div class="block">
    @foreach (PostDetails postDetails in Model.Posts)
    {
        <a asp-controller="Post" asp-action="displaypost" asp-route-id="@postDetails.Id">
        @if (@postDetails.Availability == "Disponible")
        {
                <div class="block-searched-elements">
                    <p class="publication-date"> Publiée le @postDetails.PostDate.ToString("dd/MM/yyyy")</p>
                    <p class="post-title"> <img src="~/Image/Strawberry.png" alt="strawberry" style="max-width:20px; max-height:20px;"/> @postDetails.Title </p>
                    <span><label style="font-weight:bold;">Catégorie :</label> @postDetails.ProductLineDetails.ProductCategoryName </span>
                    <br/>
                    <span><label style="font-weight:bold;">Description :</label> @postDetails.Description </span>
                    <br/>
                    <span><label style="font-weight:bold;">A consommer avant :</label> @postDetails.ProductLineDetails.BestBeforeDate.ToString("dd/MM/yyyy") </span>
                    <br/>
                    <div>
                         <img src="~/images/upload/@postDetails.Picture" height="150"/>
                     </div>
             
                    <p><label style="font-weight:bold;">Donateur :</label> @postDetails.DonatingSubscriberLogin <br/></p>
               
                     @{
                    if (@postDetails.IdStorage != 0)
                                {
                                    <span style="font-weight:bold;">Remise en point de dépôt</span>
                                    <br/>
                                }
                                else
                                {
                                    <span style="font-weight:bold;">Remise en main propre</span>
                                    <br/>
                                }
                     }
                    <span><label style="font-weight:bold;">Ville : </label> @postDetails.CityZipCode @postDetails.CityName </span>
                    <br/>
                         @if (Model.IdSearchedCity != 0)
                        {
                            <span><b>Distance :</b> @postDetails.Distance km</span>
                        }else{
                            <span><b>Distance :</b> <i>(Indiquer votre position)</i></span>
                        }
            
                        <br/>
                        <p class="reserve-donation"> RESERVER LE DON </p>

                </div>
            }
            </a>
    }
    </div>
</section>
