﻿@using Fr.EQL.AI110.DLD_GD.Entities
@using WebApp.Models
@model PostSearchViewModel

@{
    ViewData["Title"] = "Mes annonces";
}

<h1>Mes annonces</h1>

<section>

    @foreach (PostDetails postDetails in Model.Posts)
    {
    <article>
        <p>Id Annonce : @postDetails.Id </p>
        <span>Date publication : @postDetails.PostDate.ToString("dd/MM/yyyy") - </span> 
        <span>Id Donateur : @postDetails.IdDonatingSubscriber - </span>
        <span>Titre : @postDetails.Title - </span>
        <span>Description : @postDetails.Description - </span>
        <span>Emplacement : @postDetails.IdStorage - </span>
        <span>Ville : @postDetails.CityName </span>
           
        <div><span>Photos : </span>
   @*             @if (postDetails.Pictures.Count == 0)
                {
                    <span>Aucune photo</span>
                }else{
                    @foreach (Picture pict in postDetails.Pictures)
                    {          
                    }
                }*@
            </div>
             @if (Model.IdSearchedCity != 0)
            {
                <span>Distance : @postDetails.Distance km</span>
            }
            <p>----------</p>
    </article>
    }

</section>
