﻿@using Fr.EQL.AI110.DLD_GD.Entities

@model RatingViewModel

<div class="publication">
<h1>Mes Notations</h1>
<form method="post">
     <label class="white-font">Adhérent : </label>
<select asp-for="RatedSub.Id">
            @foreach (Subscriber ratedSub in Model.Subscribers)
            {
                <option value="@ratedSub.Id">@ratedSub.Login</option>
            }
 </select>
 <input class="cute-button" type="submit" value="Choisir"/>
<div class="block">
    @{
        @foreach (Rating rating in @Model.Ratings)
      {
         <div class="block-comment">
         <span>Note :</span>
         <br/>
                        @for ( int i = 0; i < @rating.Score;i++)
                        {
                         <img class="rating" src="~/Image/Strawberry.png" alt="strawberry" style="max-width:20px; max-height:20px;"/>
                         
                        }
                        <br />
                        <br>
         <span>Commentaire :
         <br/>
         @rating.Comment</span>
        </div> 
      }
      }
</div>
</form>
</div>