﻿@using Fr.EQL.AI110.DLD_GD.Entities

@model RatingViewModel

<div class="publication">
<form method="post" asp-action="saverating" asp-route-id="@Model.IdPost">
<h1>Notes et commentaires</h1>
<img src="~/Image/strawberry.png" alt="strawberry" width="50" height="50"/>
<div class="accueil publication">
    <span>Adhérent : @Model.RatingSub.Login</span>
    <br />
    <span>Voulez vous noter la transaction avec @Model.RatedSub.Login ?</span>
    <br />
    <span>Note : <input asp-for="@Model.Rating.Score" id="qte" min="0" max="5" placeholder="1 à 5"/></span>
    <br />
    Comment s'est passé la transaction ? :
    <br />
    <textarea asp-for="@Model.Rating.Comment" placeholder="Commentaires"></textarea>
    <br />
    @{
                if(@Model.Message != "")
                {   <br />
                    <span>@Model.Message</span>
                    <br />
                }
                else
                {
                    <input class="cute-button" type="submit"/>  
                }
            }
</div>
<input type="hidden" asp-for="@Model.IdPost" />
<input type="hidden" asp-for="@Model.IsDonator" />
</form>
</div>