﻿@using Fr.EQL.AI110.DLD_GD.Entities

@model PostViewModel

<body class="publication">
<article class="border">
<form method="post">
<h1 class="title">Mon Annonce</h1>
Catégorie : @Model.Category.CategoryName
<br />
Sous-catégorie : @Model.SubCategory.SubCategoryName
<br />
Type de produit : @Model.ProductType.ProductTypeName
<br />
Nom du produit : @Model.Product.ProductName
<br />
Titre : @Model.Post.Title
<br />
Description : @Model.Post.Description
<br />
Quantité : @Model.ProductLine.Quantity
@Model.Unit.UnitName
<br />
A consommer avant le : 
@Model.ProductLine.BestBeforeDate.Date
<br />
<img src="~/images/fraise.jpg" />
<br />
Mode de dépot : Point de dépôt
<br />
Type : @Model.StorageType.Type
<br />
Format : @Model.Volume.Format
<br />
Ville : @Model.City.CityName
<br />
Point de dépot : @Model.PickupPoint.PickupPointName
<br />
<input type="hidden" asp-for="@Model.Post"/>
<input type="submit" value="Retour"/>
<input type="submit" value="Annuler" asp-action="delete"/>
</form>
</article>
</body>