﻿@using Fr.EQL.AI110.DLD_GD.Entities
@model PickupPointDetails

@{
    ViewData["Title"] = "Création d'un point de dépôt";

}
<head>
<link rel="shortcut icon" type="image/ico" href="~/favicon.ico">
</head>

<h1><img src="~/Image/Strawberry.png" alt="strawberry" style="max-width:30px; max-height:30px;"/>Création d'un point de dépôt</h1>

<section class="newpickuppoint">
<br/>
<br />
<div >

<form method="post">
<div class="formblockelement">

        <label asp-for="@Model.IdPartner">Partenaire :</label> 
                <select asp-for="@Model.IdPartner">
                @foreach (Partner partner in @ViewBag.Partners)
                {
                    <option value="@partner.Id">@partner.InfrastructureName</option>
                }
            </select>
        <br/>
        <label asp-for="@Model.PickupPointName">Nom du Point de dépôt : </label> 
        <input asp-for="@Model.PickupPointName"/>
        
        <br />
           
</div>
        <div class="formblockelement">
            <h3 class = "pickuppoint-h3">Adresse :</h3>
                <table class="pickuppointtable">
                    <tr>
                    <td> <label asp-for="@Model.StreetNumber">Numéro de rue</label></td>
                    <td><input asp-for="@Model.StreetNumber"/></td>
                    <br />
                </tr>
                <tr>
                    <td> <label asp-for="@Model.StreetName">Nom de rue</label></td>
                    <td> <input asp-for="@Model.StreetName"/> </td>
                    <br />
                </tr>
                <tr>
                    <td> <label asp-for="@Model.IdCity">Ville</label> </td>
                    <td>  <select asp-for="@Model.IdCity" id="citylist">
                        @foreach (City city in @ViewBag.Cities)
                        {
                            <option value="@city.Id">@city.ZipCode - @city.CityName </option>
                        }
                    </select> </td>
                </tr>
            </table>
        </div>
        <br />
        <img src="~/Image/Strawberry.png" alt="strawberry" style="max-width:30px; max-height:30px;"/>
        <img src="~/Image/Strawberry.png" alt="strawberry" style="max-width:30px; max-height:30px;"/>
        <img src="~/Image/Strawberry.png" alt="strawberry" style="max-width:30px; max-height:30px;"/>
        <br/>
        <div class="formblockelement">
            <br />
            <h3 class = "pickuppoint-h3">Horaires d'ouverture :</h3>
            <br />
            <table class="pickuppointtable">
                   
            @foreach (Weekday day in @ViewBag.Days)
            {
            <tr>
                <td>
                    <label class="switch">
                        <input type="checkbox" id="@day.Id" name="@day.Id" value="checked"/>
                        <span class="slider round"></span>
                    </label>
                </td>
          
                <td> <label>@day.Day de </label></td>
                <td><input asp-for="Planning[day.Day].OpeningHours"/> </td>
                <td><label> à </label></td>
                <td><input asp-for="Planning[day.Day].ClosingHours"/></td>
            </tr>
            }
            </table>
            <br />

            <input type="submit" value="Enregistrer" class="pickup-ok-button"/>
        </div>
    </form>

                
   <button class="pickup-cancel-button"> @Html.ActionLink("Annuler","Index") </button>

</div>
</section>


