﻿@using Fr.EQL.AI110.DLD_GD.Entities
@model PickupPointViewModel

@{
    ViewData["Title"] = "Points de dépôt";
}


       <h1>Liste des points de dépôt</h1> 

<form method="post">
<label class="white-font">Partenaire : </label>
<select asp-for="IdPartner">
    <option value = "0"> Tous </option>
       @foreach (Partner partner in Model.Partners)
        {
         <option value="@partner.Id">@partner.InfrastructureName</option>
        }
 </select>
 <input class="cute-button" type="submit" value="Filtrer"/>
 </form>

<div class="add-button">
<a asp-controller="PickupPoint" asp-action="Create">
   <button title="Ajouter un point de dépôt" class="add-pickup-btn"> ➕ Ajouter  </button>
</a>
</div>

<br />
<section>
            <table class="pickuppointstable">
                <thead>
                    <tr>
                        <th>Nom de l'infrastructure</th>
                        <th>Nom du point de dépot</th>
                        <th>Adresse</th>
                        <th></th>
                        <th></th>
                        <th></th>

                    </tr>
                </thead>
                @foreach (PickupPointDetails pickupPointDetails in @ViewBag.PickupPointsDetails)
                {
                    if(pickupPointDetails.DeletionDate == null)
                    {
                        <tr>
                            <td>@pickupPointDetails.PickupPartner.InfrastructureName</td>
                            <td>@pickupPointDetails.PickupPointName</td>
                            <td>@pickupPointDetails.StreetNumber @pickupPointDetails.StreetName, @pickupPointDetails.ZipCode @pickupPointDetails.CityName</td>
                            <td title="Voir le détail"> <a asp-controller="Storage" asp-action="Index" asp-route-userID="@pickupPointDetails.IdPartner" asp-route-idpickuppoint="@pickupPointDetails.Id">&#128065;</a></td>
                            <td title="Modifier"> <a asp-controller="PickupPoint" asp-action="Update" asp-route-id="@pickupPointDetails.Id">&#128393;</a></td>
                            <td title="Retirer"> <a asp-controller="PickupPoint" asp-action="Desactivate" asp-route-id="@pickupPointDetails.Id">&#128465;</a></td>
                        </tr>
                    }
                }
            </table>

            @*
            <span><label style="font-weight:bold;">Horaires :</label></span>
                <br />
                <table>
                <tbody>
                @foreach (ScheduleDetails scheduleDetails in pickupPointDetails.Schedule)
                {
                <tr>
                <td>@scheduleDetails.DayName</td>
                <td>
                @if (@scheduleDetails.OpeningHours == null || @scheduleDetails.ClosingHours == null)
                {
                <span>Fermé</span>
                }
                else
                {
                <span> de @scheduleDetails.OpeningHours à @scheduleDetails.ClosingHours </span> <br />
                }
                </td>
                </tr>
                }
                </tbody>
                </table>
            *@
            <br />
</section>