﻿@using Fr.EQL.AI110.DLD_GD.Entities
@model PickupPointViewModel

@{
    ViewData["Title"] = "Modifier un point de dépôt";
    List<City> cities = ViewBag.Cities;
    List<Partner> partners = ViewBag.Partners;
}

<head>
    <link rel="shortcut icon" type="image/ico" href="~/favicon.ico">
</head>

<h1>Modifier un point de dépôt</h1>

<section  class="newpickuppoint">
<form method="post">
        <label asp-for="Pickup.IdPartner">Partenaire</label>
        <select asp-for="Pickup.IdPartner">
           @foreach(Partner partner in partners)
           {
              <option value="@partner.Id">@partner.InfrastructureName</option>
           }
        </select>

        <br/>
        <label asp-for="Pickup.PickupPointName">Nom du Point de dépôt : </label> 
        <input class="pickup-input-size" asp-for="Pickup.PickupPointName" />

        <br/>
            <div class="formblockelement">
                <img src="~/Image/Strawberry.png" alt="strawberry" style="max-width:30px; max-height:30px;"/>
                <img src="~/Image/Strawberry.png" alt="strawberry" style="max-width:30px; max-height:30px;"/>
                <img src="~/Image/Strawberry.png" alt="strawberry" style="max-width:30px; max-height:30px;"/>
            </div>
            <br/>

            <div class="formblockelement">
    <h3>Adresse :</h3>
     <table class="pickuppointtable">
        <tr>
            <td> <label asp-for="Pickup.StreetNumber">Numéro de rue</label></td>
            <td><input class="pickup-input-size" asp-for="Pickup.StreetNumber"/></td>
        </tr>
        <tr>
            <td> <label asp-for="Pickup.StreetName">Nom de rue</label></td>
            <td> <input class="pickup-input-size" asp-for="Pickup.StreetName"/></td>
            <td></td>
        </tr>
      
        <tr>
            <td><label asp-for="Pickup.IdCity">Ville</label> </td>
            <td><select asp-for="Pickup.IdCity">
                @foreach(City city in cities)
                {
                    <option value="@city.Id">@city.ZipCode - @city.CityName</option>
                }
                </select></td>
        </tr>
     </table>
     </div>
        <br />

       @* <div class="formblockelement">
            <br />
            <h3 class = "pickuppoint-h3">Horaires d'ouverture :</h3>
            <br />
            
            <table class="pickuppointtable">
         
             @foreach (ScheduleDetails scheduleDetails in Model.PickupDetails.ScheduleDetailsList)
            {
            <tr>
                <td>
                    <label class="switch">
                        <input type="checkbox" id="@scheduleDetails.IdDay" name="@scheduleDetails.IdDay"/>
                        <span class="slider round"></span>
                    </label>
                </td>
                <td><input asp-for="@scheduleDetails.Id" type="hidden"/></td>
                <td><input asp-for="@scheduleDetails.IdDay" type="hidden"/></td>
                <td><input asp-for="@scheduleDetails.IdPickupPoint" type="hidden"/></td>
                <td> <label asp-for="@scheduleDetails.DayName">@scheduleDetails.DayName de </label></td>
                <td><input asp-for="@scheduleDetails.OpeningHours"/> </td>
                <td><label> à </label></td>
                <td><input asp-for="@scheduleDetails.ClosingHours"/></td>
            </tr>
            }

            </table>
            </div>
            *@
            <br />
            <button class="pickup-cancel-button"> @Html.ActionLink("Annuler","Index") </button>
            <input type="submit" value="Enregistrer" class="pickup-ok-button"/>
        
</form>
</section>