﻿@using Fr.EQL.AI110.DLD_GD.Entities
@using WebApp.Models

@model PostSearchViewModel

<h1>Mes dons</h1>
<form method="post">
  <label class="white-font">Adhérent : </label>
        <select asp-for="IdDonatingSubscriber">
            <option value = "0"> Tous </option>
            @foreach (Subscriber subscriber in Model.Subscribers)
            {
                <option value="@subscriber.Id">@subscriber.Login</option>
            }
        </select>
        <input class="cute-button" type="submit" value="Filtrer"/>
</form>

<section>
    <div class="block">
    @foreach (PostDetails postDetails in Model.Posts)
    {
    <div class="block-elements">
        <div class="formblockelement">
                <img src="~/Image/Strawberry.png" alt="strawberry" style="max-width:30px; max-height:30px;"/>
            </div>
        <p class="post-title"> 
             <a asp-controller="DisplayAllPosts" asp-action="displaypost" asp-route-id="@postDetails.Id">@postDetails.Title</a>
            </p>
        <span><label style="font-weight:bold;">Date de publication :</label> @postDetails.PostDate.ToString("dd/MM/yyyy") </span> 
        <br/>
        <span><label style="font-weight:bold;">Disponibilité :</label>
            @if (@postDetails.Availability.Equals("Disponible"))
            {
                <span class="yes">@postDetails.Availability</span>
             }
             else
             {
                 <span class="no">@postDetails.Availability</span>
             }
             </span>
        <br/>
        <span><label style="font-weight:bold;">Donateur :</label> @postDetails.DonatingSubscriberLogin </span>
        <br/>
                @{
                    if (@postDetails.ReceivingSubscriberLogin != null )
                    {
                      <span><label style="font-weight:bold;">Bénéficiaire :</label> @postDetails.ReceivingSubscriberLogin </span> 
                      <br>
                    }
                }
        <span><label style="font-weight:bold;">Id Annonce :</label> @postDetails.Id </span>
        <br/>
        <span><label style="font-weight:bold;">Description :</label> @postDetails.Description </span>
        <br/>
        @{
                    if (@postDetails.IdStorage != 0)
                    {
                        <span><label style="font-weight:bold;">Emplacement :</label> @postDetails.IdStorage </span>
                        <br/>
                    }
                    else
                    {
                        <span style="font-weight:bold;">Remise en main propre</span>
                        <br/>
                    }
                }
        <span><label style="font-weight:bold;">Ville :</label> @postDetails.CityName </span>
         
        <div>
             <img src="~/images/upload/@postDetails.Picture" height="150"/>
            </div>            
            <br/>
            @{
                if (@postDetails.Availability == "En attente de validation")
                {
                    <a class="lien" asp-controller="DisplayAllPosts" asp-action="validate" asp-route-id="@postDetails.Id">Accepter</a>
                    <a class="lien"  asp-controller="DisplayAllPosts" asp-action="refuse" asp-route-id="@postDetails.Id">Refuser</a>
                } 
                else if (@postDetails.Availability == "Disponible")
                {
                        <a class="lien" asp-controller="DisplayAllPosts" asp-action="delete" asp-route-id="@postDetails.Id">Annuler le don</a>
                }
                else if (@postDetails.Availability == "En attente de dépot")
                {
                        <a class="lien" asp-controller="DisplayAllPosts" asp-action="delete" asp-route-id="@postDetails.Id">Annuler le don</a>   
                }
                else if (@postDetails.Availability == "Terminé")
                {
                    if (!@postDetails.IsRated)
                        {
                         <a class="lien" asp-controller="Rating" asp-action="IndexDonator" asp-route-id="@postDetails.Id">Noter la transaction</a>      
                        }
                }
                
                
            }
            <div class="formblockelement">
                <img src="~/Image/Strawberry.png" alt="strawberry" style="max-width:30px; max-height:30px;"/>
                <img src="~/Image/Strawberry.png" alt="strawberry" style="max-width:30px; max-height:30px;"/>
                <img src="~/Image/Strawberry.png" alt="strawberry" style="max-width:30px; max-height:30px;"/>
            </div>
            <br/>
    </div>
    }
    </div>
</section>