﻿@using Fr.EQL.AI110.DLD_GD.Entities
@model DashboardViewModel

<h1>Tableau de Bord</h1>

<article class="block">
    <div>
        <a asp-controller="Home" asp-action="SubscriberDashboard" style="padding:10px;"> <button class="cute-button">Adhérent</button></a>
        <a asp-controller="Home" asp-action="PartnerDashboard" style="padding:10px;"> <button class="cute-button">Partenaire</button></a>
    </div>
</article>
<article class="block">
    <div class="block-elements-dashboard" style="margin:30px;">
        
        <h2 style="color: #FC6078; text-align:center;">
            <img src="~/Image/Strawberry.png" alt="strawberry" style="max-width:20px; max-height:20px;"/>
            Vue d'ensemble<img src="~/Image/Strawberry.png" alt="strawberry" style="max-width:20px; max-height:20px;"/></h2>
        <br/>
            <div class="small-block-elements">
                <h4>Nombre d'adhérents : @Model.Subscribers.Count</h4>
            </div>
            <div class="small-block-elements">
                <h4>Nombre de partenaires : @Model.Partners.Count</h4>
            </div>
            <div class="small-block-elements">
                <h4>Nombre d'échanges réalisés : @Model.AllCompletedExchanges.Count</h4>
            </div>
            <div class="small-block-elements">
                <h4>Nombre de dons en cours : @Model.AllOngoingExchanges.Count</h4>
            </div>
            <div class="small-block-elements">
                <h4>Nombre de dons annulés : @Model.AllCancelledPosts.Count</h4>
            </div> 
    </div>
    <div class="block-elements-dashboard" style="margin:30px;">
        
        <h2 style="text-align:center; color:#FC6078;"><img src="~/Image/Strawberry.png" alt="strawberry" style="max-width:20px; max-height:20px;"/>
            Mois en cours<img src="~/Image/Strawberry.png" alt="strawberry" style="max-width:20px; max-height:20px;"/></h2>
        
        <br/>
        <div>
            <div class="small-block-elements">
                <h4>Nombre d'annonces publiées : @Model.AllPostsPublishedThisMonth.Count</h4>
            </div>
            <div class="small-block-elements">
                <h4>Nombre d'échanges réalisés : @Model.AllCompletedExchangesThisMonth.Count</h4>
            </div>
            <div class="small-block-elements">
                <h4>Nombre de dons annulés : @Model.AllCancelledThisMonth.Count</h4>
            </div>
        </div>
</div>
</article>