﻿
<div class="publication">
<h1>Bienvenue sur DLD</h1>
<img src="~/Image/strawberry.png" alt="strawberry" width="50" height="50"/>
<div class="accueil publication">
<div class="model1">
 
    <h6>Vous avez déjà un compte ?</h6> 
    <input class="cute-button" type="submit" value="Se connecter"/> 
</div>
<br />
   

<div>
   
    <h6>Première fois sur ce site ?</h6> 
    
     <input class="cute-button" type="submit" value="S'enregistrer en tant qu'adhérent"/> 
     </div>
    <br>

     <div>
         <h6>Rejoindre nos partenaires ?</h6>  
        <input class="cute-button" type="submit" value="S'enregistrer en tant que partenaire"/> 
        </div>
</div>
</div>

