﻿@using Fr.EQL.AI110.DLD_GD.Entities
@model DashboardViewModel

<h1>Tableau de Bord</h1>
<article class="block">
<form method="post" asp-action="PartnerDashboardPickups" style="padding:10px;">
<label class="dashboard">Partenaire : </label>
<select asp-for="@Model.Partner.Id">
     @foreach (Partner partner in @Model.Partners)
     {
         <option value="@partner.Id">@partner.PartnerLogin</option>
     }

</select>
<button class="button-icon"><img src="~/Image/icones/next-white.png" /></button>
</form>
 <a asp-controller="Home" asp-action="PartnerDashboard" asp-route-partner="@Model.Partner" style="padding:10px;"> <button class="cute-button">Dépôts</button></a>
 <a asp-controller="Home" asp-action="Dashboard" style="padding:10px;"> <button class="cute-button">Retour</button></a>
 </article>
 
<h2 class="dashboard">Retrait de Dons</h2>
 <div>
     @foreach (PickupPointDetails pp in @Model.PickupPoints)
    {
        <br/>
        <h3 class="strawberry-text">@pp.PickupPointName - @pp.Storages.Count emplacements </h3>
            <table class="dashboardtable">
                <thead>
                    <tr>
                        <th>N° d'emplacement</th>
                        <th>Format</th>
                        <th>Type d'emplacement</th>
                        <th>Date de dépôt</th>
                        <th>Titre du don</th>
                        <th>Disponibilité</th>
                        <th>Voir détails</th>
                        <th>Validation</th>
                    </tr>
                </thead>
                @foreach (PostStorageDetails pst in @Model.UncollectedPostStorageDetails)
                {
                    @if (pst.IdPickupPoint == pp.Id)
                    {
                        <tr class="dashboard-table">
                            <td>Emplacement n°@pst.IdStorage</td>
                            <td>@pst.StorageFormat</td>
                            <td>@pst.StorageType</td>
                            <td>@pst.DepositDate</td>
                            <td>@pst.Title</td>
                            <td><img src="~/Image/icones/icons8-red-circle-25.png" alt="red-dot-unavailable"/></td>
                            <td title="Voir le détail"> <a asp-controller="Post" asp-action="DisplayPost" asp-route-id="@pst.Id">&#128065;</a></td>
                            <td title="Valider un dépôt">
                                <form method="post">
                                    <input asp-action="PickupPtConfirmation" asp-route-postID="@pst.Id" class="round-button" type="submit" value="&#10003;"/>
                                    <input type="hidden" asp-for="@pst.Id"/>
                                </form>
                            </td>
                        </tr>
                    }
                }
            </table>
            <br/>
    }

</div>




