﻿@using Fr.EQL.AI110.DLD_GD.Entities
@model DashboardViewModel

<h1>Tableau de Bord</h1>
<article class="block">
<form method="post" asp-action="SubscriberDashboard" style="padding:10px;">
<label class="dashboard">Adhérent : </label>
<select asp-for="@Model.Subscriber.Id">
     @foreach (Subscriber subscriber in @Model.Subscribers)
     {
         <option value="@subscriber.Id">@subscriber.Login</option>
     }

</select>
<button class="button-icon"><img src="~/Image/icones/next-white.png" /></button>
</form>
<a asp-controller="Home" asp-action="Dashboard" style="padding:10px;"> <button class="cute-button">Retour</button></a>
</article>
 <h2 class="dashboard">Mes Dons</h2>
<article class="block">
    <div class="block-elements-dashboard">
        <h3 class="strawberry-text">Dons en cours : @Model.NbCurrentPosts</h3>

        @foreach (Post post in @Model.CurrentPosts)
        {
            <div class="storageunit">
                <span>@post.Title - </span>
                <span>Publiée : @post.PostDate.ToString("dd/MM/yyyy") - </span>
                <a asp-controller="Displayallposts" asp-action="DisplayPost" asp-route-id="@post.Id"> Voir&nbsp;></a>
            </div>
        } 
    </div>
    <div class="block-elements-dashboard">
        <h3 class="strawberry-text">Dons en attente de validation : @Model.NbUnconfirmedPosts</h3>
        @foreach (Post post in @Model.UnconfirmedPosts)
        {
            <div class="storageunit">
                <span>@post.Title - </span>
                <span>Publiée : @post.PostDate.ToString("dd/MM/yyyy") - </span>
                <a asp-controller="Displayallposts" asp-action="DisplayPost" asp-route-id="@post.Id"> Voir&nbsp;></a>
            </div>
        } 
    </div>
    <div class="block-elements-dashboard">
        <h3 class="strawberry-text">Dons à déposer : @Model.NbUndepositedPosts</h3>
        @foreach (Post post in @Model.UndepositedPosts)
        {
            <div class="storageunit">
                <span>@post.Title - </span>
                <span>Publiée : @post.PostDate.ToString("dd/MM/yyyy") - </span>
                <a asp-controller="Displayallposts" asp-action="DisplayPost" asp-route-id="@post.Id"> Voir&nbsp;></a>
            </div>
        } 
    </div>
    <br/>
    </article>
    <h2 class="dashboard">Mes Réservations</h2>
    <article class="block">    
    <div class="block-elements-dashboard">
        <h3 class="strawberry-text">Réservations en cours : @Model.NbCurrentReservations</h3>
        @foreach (Post post in @Model.CurrentReservations)
        {
            <div class="storageunit">
                <span>@post.Title - </span>
                <span>Publiée : @post.PostDate.ToString("dd/MM/yyyy") - </span>
                <a asp-controller="Displayallposts" asp-action="DisplayPost" asp-route-id="@post.Id"> Voir&nbsp;></a>
            </div>
        } 
    </div>
    <div class="block-elements-dashboard">
        <h3 class="strawberry-text">Dons à récupérer : @Model.NbConfirmedDeposits</h3>
        @foreach (Post post in @Model.ConfirmedDeposits)
        {
            <div class="storageunit">
                <span>@post.Title - </span>
                <span>Publiée : @post.PostDate.ToString("dd/MM/yyyy") - </span>
                <a asp-controller="Displayallposts" asp-action="DisplayPost" asp-route-id="@post.Id"> Voir&nbsp;></a>
            </div>
        } 
    </div>
    <div class="block-elements-dashboard">
        <h3 class="strawberry-text">Historique de Réservations : @Model.NbPastReservations</h3>
        @foreach (Post post in @Model.PastReservations)
        {
            <div class="storageunit">
                <span>@post.Title - </span>
                <span>Publiée : @post.PostDate.ToString("dd/MM/yyyy")</span>
                <span>Date de Collecte : @post.CollectionDate - </span>
                <a asp-controller="Displayallposts" asp-action="DisplayPost" asp-route-id="@post.Id"> Voir&nbsp;></a>
            </div>
        } 
    </div>
</article>
