﻿@using Fr.EQL.AI110.DLD_GD.Entities
@using WebApp.Models

@model PostViewModel

<div class="publication">
<h1 >Publication d'une annonce</h1>
<article class="border">
<form method="post" asp-action="bcategory">
 <label>Donateur : </label>
<select asp-for="Subscriber.Id">
            @foreach (Subscriber donatingSubscriber in Model.Subscribers)
            {
                <option value="@donatingSubscriber.Id">@donatingSubscriber.Login</option>
            }
 </select>
<br />
Catégorie : 
<select asp-for="Category.Id">
     @foreach (Category category in @Model.Categories)
     {
         <option value="@category.Id">@category.CategoryName.ToUpper()</option>
     }

</select>
<button class="button-icon"><img src="~/Image/icones/next.png" /></button>
</form>

</article>
</div>