﻿@using Fr.EQL.AI110.DLD_GD.Entities
@using WebApp.Models

@model PostViewModel

<div class="publication">
<h1>Publication d'une annonce</h1>
<article class="border">
<form method="post" asp-action="csubcategory">
Adhérent :
@Model.Subscriber.Login
<br />
Catégorie : @Model.Category.CategoryName.ToUpper()
<br />
Sous-catégorie :
<select asp-for="SubCategory.Id">
    
    @foreach (SubCategory subCategory in @Model.SubCategories)
    {
        <option value="@subCategory.Id">@subCategory.SubCategoryName.ToUpper()</option>
    }
</select>
<button class="button-icon"><img src="~/Image/icones/next.png" /></button>

<input type="hidden" asp-for="Category.Id"/>
<input type="hidden" asp-for="Subscriber.Id"/>
</form>
</article>
</div>