﻿@using Fr.EQL.AI110.DLD_GD.Entities
@using WebApp.Models

@model PostViewModel

<div class="publication">
<h1>Publication d'une annonce</h1>
<article class="border">
<form method="post" asp-action="evalider">
Adhérent :
@Model.Subscriber.Login
<br />
Catégorie : @Model.Category.CategoryName.ToUpper()
<br />
Sous-catégorie : @Model.SubCategory.SubCategoryName.ToUpper()
<br />
Type de produit : @Model.ProductType.ProductTypeName.ToUpper()
<br />
Nom du produit :
<select asp-for="Product.Id">
    @foreach (Product product in @Model.Products)
    {
        <option value="@product.Id">@product.ProductName.ToUpper()</option>
    }
</select>
<button class="button-icon"><img src="~/Image/icones/next.png" /></button>

<input type="hidden" asp-for="Category.Id"/>
<input type="hidden" asp-for="SubCategory.Id"/>
<input type="hidden" asp-for="ProductType.Id"/>
<input type="hidden" asp-for="Subscriber.Id"/>
</form>
</article>
</div>