﻿@using Fr.EQL.AI110.DLD_GD.Entities
@using WebApp.Models

@model PostViewModel

<div class="publication">
<h1>Publication d'une annonce</h1>
<article class="border">
<form enctype="multipart/form-data" method="post" asp-action="fproduct">
Adhérent :
@Model.Subscriber.Login
<br />
Catégorie : @Model.Category.CategoryName.ToUpper()
<br />
Sous-catégorie : @Model.SubCategory.SubCategoryName.ToUpper()
<br />
Type de produit : @Model.ProductType.ProductTypeName.ToUpper()
<br />
Nom du produit : @Model.Product.ProductName.ToUpper()
<br />
Titre : 
<br />
<input asp-for="@Model.Post.Title" placeholder="Titre"/>
<br />
Description : <br />
<textarea id="textarea" asp-for="@Model.Post.Description" placeholder="Description"></textarea>
<br />
Quantité : <input id="qte" type="text" asp-for="ProductLine.Quantity" placeholder="0"/>

<select asp-for="Unit.Id">
    @foreach (Unit unit in @Model.Units)
    {
        <option value="@unit.Id">@unit.UnitName</option>
    }
</select>
<br />
A consommer avant le : 
<input asp-for="ProductLine.BestBeforeDate"/>
<br />
<input id="file" for="MyFile" type="file" name="MyFile"/>
<br />
  <input type="radio" id="pickup" name="mode" value="home"
         checked>
  <label for="home">Remise en main propre</label>
  <input type="radio" id="deposit" name="mode" value="storage">
  <label for="pickup">Point de dépôt</label>
<br />
<input class="fancy-button" type="submit" value="Valider"/>

<input type="hidden" asp-for="Category.Id"/>
<input type="hidden" asp-for="SubCategory.Id"/>
<input type="hidden" asp-for="ProductType.Id"/>
<input type="hidden" asp-for="Product.Id"/>
<input type="hidden" asp-for="Post.Title"/>
<input type="hidden" asp-for="Post.Picture"/>
<input type="hidden" asp-for="Post.Description"/>
<input type="hidden" asp-for="ProductLine.Quantity"/>
<input type="hidden" asp-for="ProductLine.BestBeforeDate"/>
<input type="hidden" asp-for="Unit.Id"/>
<input type="hidden" asp-for="Unit.UnitName"/>
<input type="hidden" asp-for="Subscriber.Id"/>

</form>
</article>
</div>
