﻿@using Fr.EQL.AI110.DLD_GD.Entities
@using WebApp.Models

@model PostViewModel

<div class="publication">
<h1>Publication d'une annonce</h1>
<article class="border">
<form method="post" asp-action="gformat">
Adhérent :
@Model.Subscriber.Login
<br />
Catégorie : @Model.Category.CategoryName.ToUpper()
<br />
Sous-catégorie : @Model.SubCategory.SubCategoryName.ToUpper()
<br />
Type de produit : @Model.ProductType.ProductTypeName.ToUpper()
<br />
Nom du produit : @Model.Product.ProductName.ToUpper()
<br />
Titre : 
<br />
@Model.Post.Title
<br />
Description : 
<br />
@Model.Post.Description
<br />
Quantité : @Model.ProductLine.Quantity
@Model.Unit.UnitName
<br />
A consommer avant le : 
@Model.ProductLine.BestBeforeDate.ToString("dd/MM/yyyy")
<br />
<img src="~/images/upload/@Model.Post.Picture" width="200px"/>
<br />
  <input type="radio" id="pickup" name="mode" value="home"
         checked>
  <label for="home">Remise en main propre</label>
  <input type="radio" id="deposit" name="mode" value="storage">
  <label for="pickup">Point de dépôt</label>
<br />
<input class="fancy-button" type="submit" value="Choisir" />

<input type="hidden" asp-for="Category.Id"/>
<input type="hidden" asp-for="SubCategory.Id"/>
<input type="hidden" asp-for="ProductType.Id"/>
<input type="hidden" asp-for="Product.Id"/>
<input type="hidden" asp-for="Post.Picture"/>
<input type="hidden" asp-for="Post.Title"/>
<input type="hidden" asp-for="Post.Description"/>
<input type="hidden" asp-for="Post.Picture"/>
<input type="hidden" asp-for="ProductLine.Quantity"/>
<input type="hidden" asp-for="ProductLine.BestBeforeDate"/>
<input type="hidden" asp-for="Unit.Id"/>
<input type="hidden" asp-for="Subscriber.Id"/>
<input type="hidden" asp-for="MyFile.FileName"/>
</form>
</article>
</div>