﻿@using Fr.EQL.AI110.DLD_GD.Entities
@using WebApp.Models

@model PostViewModel

<div class="publication">
<h1>Publication d'une annonce</h1>
<article class="border">
<form method="post" asp-action="hpickup">
Adhérent :
@Model.Subscriber.Login
<br />
Catégorie : @Model.Category.CategoryName.ToUpper()
<br />
Sous-catégorie : @Model.SubCategory.SubCategoryName.ToUpper()
<br />
Type de produit : @Model.ProductType.ProductTypeName.ToUpper()
<br />
Nom du produit : @Model.Product.ProductName.ToUpper()
<br />
Titre : 
<br />
@Model.Post.Title
<br />
Description : <br />
@Model.Post.Description
<br />
Quantité : @Model.ProductLine.Quantity
@Model.Unit.UnitName
<br />
A consommer avant le : 
@Model.ProductLine.BestBeforeDate.ToString("dd/MM/yyyy")
<br />
<img src="~/images/upload/@Model.Post.Picture" width="200px"/>
<br />
Mode de dépot : Point de dépôt
<br />
Choisir un type d'emplacement :
<select asp-for="StorageType.Id">
    @foreach (StorageType type in @Model.StorageTypes)
   {
      <option value="@type.Id">@type.Type</option>
   }
    
</select>
<br />
Choisir un format :
<select asp-for="Volume.Id">
    @foreach (Volume volume in @Model.Volumes)
    {
        <option value="@volume.Id">@volume.Format</option>
    }
</select>
<br />
Séléctionner une ville :
<select asp-for="City.Id">
    @foreach (City city in @Model.Cities)
    {
        <option value="@city.Id">@city.CityName</option>
    }
</select>
<br />
<input class="fancy-button" type="submit" value="Choisir" />

<input type="hidden" asp-for="Category.Id"/>
<input type="hidden" asp-for="SubCategory.Id"/>
<input type="hidden" asp-for="ProductType.Id"/>
<input type="hidden" asp-for="Product.Id"/>
<input type="hidden" asp-for="Post.Picture" value="@Model.Post.Picture"/>

<input type="hidden" asp-for="Post.Title"/>
<input type="hidden" asp-for="Post.Description"/>

<input type="hidden" asp-for="ProductLine.Quantity"/>
<input type="hidden" asp-for="ProductLine.BestBeforeDate"/>
<input type="hidden" asp-for="Unit.Id"/>

<input type="hidden" asp-for="City.Id"/>
<input type="hidden" asp-for="Volume.Id"/>
<input type="hidden" asp-for="StorageType.Id"/>
<input type="hidden" asp-for="Subscriber.Id"/>
</form>
</article>
</div>
