﻿@using Fr.EQL.AI110.DLD_GD.Entities
@using WebApp.Models

@model PostViewModel

<div class="publication">
<h1>Publication d'une annonce</h1>
<article class="border">
<form method="post" asp-action="hpublishhome">
Adhérent :
@Model.Subscriber.Login
<br />
Catégorie : @Model.Category.CategoryName.ToUpper()
<br />
Sous-catégorie : @Model.SubCategory.SubCategoryName.ToUpper()
<br />
Type de produit : @Model.ProductType.ProductTypeName.ToUpper()
<br />
Nom du produit : @Model.Product.ProductName.ToUpper()
<br />
Titre : 
<br />
@Model.Post.Title
<br />
Description : <br />
@Model.Post.Description
<br />
Quantité : @Model.ProductLine.Quantity
@Model.Unit.UnitName
<br />
A consommer avant le : 
@Model.ProductLine.BestBeforeDate.ToString("dd/MM/yyyy")
<br />
<img src="~/images/upload/@Model.Post.Picture" width="200px"/>
<br />
Mode de dépot :
<br />Remise en main propre
<br />
<input type="hidden" asp-for="Category.Id"/>
<input type="hidden" asp-for="SubCategory.Id"/>
<input type="hidden" asp-for="ProductType.Id"/>
<input type="hidden" asp-for="Product.Id"/>
<input type="hidden" asp-for="Post.Picture" value="@Model.Post.Picture"/>
<input type="hidden" asp-for="Post.Title"/>
<input type="hidden" asp-for="Post.Description"/>

<input type="hidden" asp-for="ProductLine.Quantity"/>
<input type="hidden" asp-for="ProductLine.BestBeforeDate"/>
<input type="hidden" asp-for="Unit.Id"/>
<input type="hidden" asp-for="Subscriber.Id"/>

<input class="fancy-button" type="submit" value="Proposer" />

</form>
</article>
</div>