﻿@using Fr.EQL.AI110.DLD_GD.Entities
@using WebApp.Models

@model PostViewModel

<div class="publication">
<h1>Publication d'une annonce</h1>
<article class="border">
<form method="post">
Adhérent :
@Model.Subscriber.Login
<br />
Catégorie : @Model.Category.CategoryName.ToUpper()
<br />
Sous-catégorie : @Model.SubCategory.SubCategoryName.ToUpper()
<br />
Type de produit : @Model.ProductType.ProductTypeName.ToUpper()
<br />
Nom du produit : @Model.Product.ProductName.ToUpper()
<br />
Titre : 
<br />
@Model.Post.Title
<br />
Description : 
<br />
@Model.Post.Description
<br />
Quantité : @Model.ProductLine.Quantity
@Model.Unit.UnitName
<br />
A consommer avant le : 
@Model.ProductLine.BestBeforeDate.ToString("dd/MM/yyyy")
<br />
<img src="~/images/upload/@Model.Post.Picture" width="200px"/>
<br />
Mode de dépot : Point de dépôt
<br />
Type : @Model.StorageType.Type
<br />
Format : @Model.Volume.Format
<br />
Ville : @Model.City.CityName
<br />
Point de dépot : @Model.PickupPoint.PickupPointName
<br />
Emplacement numéro : @Model.Storage.Id
<br />
Votre don a bien été proposé!

<input type="hidden" asp-for="Category.Id"/>
<input type="hidden" asp-for="SubCategory.Id"/>
<input type="hidden" asp-for="ProductType.Id"/>
<input type="hidden" asp-for="Product.Id"/>

<input type="hidden" asp-for="Post.Title"/>
<input type="hidden" asp-for="Post.Description"/>
<input type="hidden" asp-for="Post.Picture"/>
<input type="hidden" asp-for="ProductLine.Quantity"/>
<input type="hidden" asp-for="ProductLine.BestBeforeDate"/>

<input type="hidden" asp-for="Unit.Id"/>
<input type="hidden" asp-for="City.Id"/>
<input type="hidden" asp-for="Volume.Id"/>
<input type="hidden" asp-for="StorageType.Id"/>
<input type="hidden" asp-for="PickupPoint.Id"/>
<input type="hidden" asp-for="Storage.Id"/>
<input type="hidden" asp-for="Subscriber.Id"/>
</form>
</article>
</div>