﻿@using Fr.EQL.AI110.DLD_GD.Entities
@using WebApp.Models;

@model TokenViewModel

<div class="publication">
<img src="~/Image/strawberry.png" alt="strawberry" width="50" height="50"/>
<div class="accueil publication">
<form method="post">
Adhérent :
@Model.Subscriber.Login
<br />
@foreach (TokenBundle bundle in @Model.Bundles)
{
    <input class="hideradio" type="radio" id="@bundle.Id" value="@bundle.Id" name="token">
    <label for="@bundle.Id">
    <section class="tokenbundle">
        <div>Forfait : @bundle.BundleName</div>
        <div>@bundle.BundleAmount Crédit(s)</div>
        <div>@bundle.BundlePrice €</div>
    </section>
    </label>
}
<br />
Quantité : <input id="qte" type="text "asp-for="PurchaseLine.Quantity">
<br />
<input class="cute-button" type="submit" value="Calculer le montant total" asp-action="calculate"/>
<br />
Montant total : 
<br />
@Model.Calculate €
<br />
<input class="cute-button" type="submit" value="Annuler" asp-action="buytoken"/>
<br />
Payer par carte : 
<br />
<br />
Email : <input asp-for="Subscriber.Email"/>
<br />
Informations de la carte :
<br />
Nom : <input type="text" value="@Model.Subscriber.LastName @Model.Subscriber.Name"/> 
<br />
<input type="text" value="4469 7232 5530 6436" placeholder="1234 1234 1234 1234"/>
<br />
<span><input type="text" value="08/27" placeholder="MM/AA"/></span><input type="text" value="646" placeholder="CVC"/>
<br />
 @{
                if(@Model.Message != "")
                {   <br />
                    <span>@Model.Message</span>
                    <br />
                }
                else
                {
                    <input class="cute-button" type="submit" value="Payer" asp-action="purchase"/>
                }
  }
<input type="hidden" asp-for="Subscriber.Id" />
<input type="hidden" asp-for="PurchaseLine.Quantity" />
<input type="hidden" asp-for="Calculate" />
</form>
</div>
</div>