﻿@using Fr.EQL.AI110.DLD_GD.Entities
@using WebApp.Models

@model TokenViewModel

<div class="publication">
<img src="~/Image/strawberry.png" alt="strawberry" width="50" height="50"/>
<div class="publication accueil">
<form method="post">
<select asp-for="Subscriber.Id">
                <option value="0">Adhérent</option>
            @foreach (Subscriber subscriber in @Model.Subscribers)
            {
                <option value="@subscriber.Id">@subscriber.Login</option>
            }
 </select>
 <input class="cute-button" type="submit" value="Voir crédits"/>
 <br />
Vous avez actuellement :
<br />
@Model.Amount : Crédits
<br />
Obtenir des crédits ?
<br />
<input class="cute-button" type="submit" asp-controller="Publication" asp-action="AIndex" value="Proposer un don"/>
<br>
2 dons = 1 crédit
<br>
<input class="cute-button" type="submit" asp-controller="Token" asp-action="BuyToken" value="Acheter des crédits"/>
<div>
    <section>

    </section>
</div>
</form>
</div>
</div>