﻿@using Fr.EQL.AI110.DLD_GD.Entities
@model StorageModel

<article class="newpickuppoint">
    <h1>Mes Points de dépôt</h1>
    <br/>
    <br />
    <div >
        <form method="post">
            <div class="formblockelement">
                <h3>Ajouter des emplacements :</h3>
                 <table class="pickuppointtable">
                     <tr>
                        <td> <span>Nombre d'emplacements à ajouter : </span></td>
                        <td><input type="number" min="1" max="10" step="1" name="inputNumber"/></td>
                        <br />
                    </tr>
                    <tr>
                       <td> <span>Volume : </span> </td>
                       <td>  <select asp-for="Volume.Id" id="idVolume" name="idVolume">
                            @foreach (Volume volume in Model.Volumes)
                            {
                                <option value="@volume.Id">@volume.Format</option>
                            }
                        </select> </td>
                    </tr>
                </table>
            </div>
            <br />
                <input type="submit" value="Ajouter" class="fancy-button"/>
        </form>
    </div>
</article>
