﻿@using Fr.EQL.AI110.DLD_GD.Entities
@model StorageModel
@{
    DateTime defaultDate = new DateTime();
}

<div class="add-button">
<a asp-controller="PickupPoint" asp-action="Index">
   <button title="Revenir à la liste des points de dépôt" class="add-pickup-btn"> Retour </button>
</a>
</div>

    <section>
        <h1>@Model.PickupDetails.PickupPointName</h1>
        <br />
        
        <h2 class="storage-h2"><img src="~/Image/Strawberry.png" alt="strawberry" style="max-width:20px; max-height:20px;"/>Informations générales</h2>
        <div class="storage-info">
            
        <h3 class="storage-h3">Adresse</h3>
        <span> @Model.PickupDetails.StreetNumber @Model.PickupDetails.StreetName, @Model.PickupDetails.ZipCode @Model.PickupDetails.CityName</span>
        <br/>
            
        <h3 class="storage-h3">Horaires</h3>
         <table class="schedule-table">
                @foreach(ScheduleDetails scheduleDetails in Model.PickupDetails.ScheduleDetailsList)
            {
                <tr>
                    <td>@scheduleDetails.DayName</td>
                    <td>
                        @if(@scheduleDetails.OpeningHours == null || @scheduleDetails.ClosingHours == null)
                    {
                        <span>Fermé</span>
                    }
                    else
                    {
                        <span> de @scheduleDetails.OpeningHours à @scheduleDetails.ClosingHours </span> <br/>
                    }
                    </td>
                </tr>
            }
        </table>

        <h3 class="storage-h3">Contact</h3>
        <p><b>Représentant :</b> @Model.PickupDetails.PickupPartner.RepresentativeLastName @Model.PickupDetails.PickupPartner.RepresentativeName <br />
            <b>Téléphone :</b> @Model.PickupDetails.PickupPartner.PhoneNumber <br/>
            <b>Email :</b> @Model.PickupDetails.PickupPartner.Email
        </p>
        </div>
        <br/>
        <h2 class="storage-h2"><img src="~/Image/Strawberry.png" alt="strawberry" style="max-width:20px; max-height:20px;"/>Emplacements</h2>
        <div class="block">
            @foreach (StorageType type in Model.Types)
            {
                <article class="pickup-storage-type">
                    <label style="font-weight: bold;">Type : @type.Type</label>
                    <a class="add-storage-unit" asp-controller="Storage" asp-action="EditStorage" asp-route-idpickuppoint="@Model.PickupPoint.Id" asp-route-idstoragetype="@type.Id">
                        &#10010; Ajouter
                   </a>
                    @foreach (StorageDetail storage in Model.Storages)
                    {
                        @if (storage.Type.Equals(type.Type))
                        {
                            if(storage.DeletionDate == null) {
                                <div class=storageunit>
                                    <label> Emplacement n°@storage.Id (@storage.Format)</label>
                                    <a class="delete-storage-btn" asp-controller="Storage" asp-action="Desactivate" asp-route-id="@storage.Id">&#10006;</a>
                                </div>
                            } 
                        }
                    }
                    <br/>
                </article>
            }
        </div>
     </section>



